.page-header{
  margin-left: 10px;
}
.plate{
  border-radius: 5px;
  border: solid black 2px;
  display: flex;
}
.food-image{
  display: flex;
}
.food-item img{
  height:70px;
}
#chicken{
  height:80px;
  width: 50px;
  margin-right: 10px;
}
#coke{
  margin-right: 10px;
}
#bread, #potato{
  margin-right: -6px;
}
#beer{
  height:80px;
}
#coke{
  margin-left: 10px;
  height:80px;
}
